@using Planszex.Models
@model List<Planszex.Controllers.HomeController.IndexViewModel>
@{
    ViewBag.Title = "Strona Główna";
}

<div class="banner">
    <a href="@Url.Action("Promo", "Categories")"><img style="border-radius: 50px;" src="~/img/WYSIWYG/index-banner.png" /></a>
</div>

<div class="promo-list">
    <div class="promo-list-title">Nowości</div>
    <div class="promo-list-wrapper">
        <div class="row">
            @foreach (var promoProduct in Model)
            {
                <div class="col-xs-12 col-md-3 col-lg-3">
                    <div class="product">
                        <div class="product-img">
                            <a href="@Url.Action("Details","Products")/@Html.Raw(promoProduct.product.ProductId)"><img src="@Html.Raw(promoProduct.productLink)" alt="Zdjęcie" /></a>
                        </div>
                        <div class="product-title">
                            @Html.Raw(promoProduct.product.Name)
                        </div>
                        <div class="product-price @{ if (promoProduct.product.HavePromoPrice == true) { <text>product-price-old</text> } }">
                            @Html.Raw($"{promoProduct.price.Price.ToString()}&nbsp;{promoProduct.price.Description}")
                        </div>
                        
                        <div class="product-special-price">
                            @if (promoProduct.product.HavePromoPrice == true)
                            {
                                @Html.Raw($"99,99&nbsp;{promoProduct.price.Description}")
                            }
                            else @Html.Raw("&nbsp;")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>